main {
  min-height: 80vh;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
}

.form-control {
  min-height: 90px;
}

.container::-webkit-scrollbar {
  display: none;
}

.container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.rc-slider-info {
  margin: auto;
  font-weight: 300;
}

.rc-slider-mark-text {
  word-break: inherit !important;
}

.rc-slider-dot {
  bottom: -0.45rem !important;
  margin-left: -0.4rem !important;
  width: 0.8rem !important ;
  height: 0.8rem !important;
}

.rc-slider-handle {
  width: 20px !important;
  height: 20px !important;
  border: solid 2px #1863e6 !important;
}

.rc-slider-rail {
  height: 10px !important;
}

.rc-slider-track {
  height: 10px !important;
  background-color: #1863e6 !important;
}

.rc-slider-dot-active {
  border-color: #1863e6 !important;
}

.rc-slider {
  height: 3rem !important;
}

.badge {
  margin-top: auto;
  font-size: 100%;
}

.deleteImage {
  background: #ffc100 !important;
}

span {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.dzu-dropzone {
  overflow: hidden !important;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.btn-primary {
  background-color: #ffc100;
  border-color: #fcfcfc;
}

.btn-primary:hover {
  background-color: #b49830;
  border-color: #fcfcfc;
}

.btn-primary:focus {
  background-color: #16140d;
  border-color: #fcfcfc;
}

.btn-primary:pressed {
  background-color: #16140d;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
